In [3]:
# write a python function that takes a sequence of numbers and determine whether all the numbers
# are different from each other
def is_unique(mylist: list) -> bool:
    for num in mylist:
        if mylist.count(num) > 1:
            return False
    return True

print(is_unique([1, 2, 3, 4, 4]))
print(is_unique([2, 3, 4, 10, 8]))

False
True

In [14]:
# write a python function that removes and prints every third number from a list of numbers
# until the list is empty
def remove_print_every_third(mylist: list) -> None:
    idx = 2
    while mylist:
        print(mylist.pop(idx))
        idx += 3
        if idx >= len(mylist) and len(mylist) != 0:
            idx =  idx % len(mylist)

remove_print_every_third([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

3
7
1
6
2
9
8
10
5
4

In [15]:
remove_print_every_third([1, 2, 3, 4, 5, 6, 7, 8, 9,10,12])

3
7
12
5
10
6
2
1
4
9
8

In [16]:
import pandas as pd

In [17]:
person = {'first_name': ['Sunil', 'Samir', 'Sushil'], 
            'last_name': ['Thapa', 'Khanal', 'Basi'],
            'email': ['sunil@gmail.com', 'samir@gmail.com', 'sushil@gmail.com']}

In [18]:
df = pd.DataFrame(person)

In [19]:
df

  first_name last_name             email
0      Sunil     Thapa   sunil@gmail.com
1      Samir    Khanal   samir@gmail.com
2     Sushil      Basi  sushil@gmail.com

In [20]:
df.set_index('email')

                 first_name last_name
email
sunil@gmail.com       Sunil     Thapa
samir@gmail.com       Samir    Khanal
sushil@gmail.com     Sushil      Basi

In [21]:
df

  first_name last_name             email
0      Sunil     Thapa   sunil@gmail.com
1      Samir    Khanal   samir@gmail.com
2     Sushil      Basi  sushil@gmail.com

In [22]:
df.set_index('email', inplace=True)

In [23]:
df

                 first_name last_name
email
sunil@gmail.com       Sunil     Thapa
samir@gmail.com       Samir    Khanal
sushil@gmail.com     Sushil      Basi

In [26]:
df.reset_index(inplace=True)

In [27]:
df

              email first_name last_name
0   sunil@gmail.com      Sunil     Thapa
1   samir@gmail.com      Samir    Khanal
2  sushil@gmail.com     Sushil      Basi

In [29]:
filt = df['last_name']=="Thapa"

In [30]:
df[filt]

             email first_name last_name
0  sunil@gmail.com      Sunil     Thapa

In [31]:
df.loc[filt]

             email first_name last_name
0  sunil@gmail.com      Sunil     Thapa

In [32]:
df.loc[filt, 'email']

0    sunil@gmail.com
Name: email, dtype: object

In [33]:
df.loc[~filt, 'email']

1     samir@gmail.com
2    sushil@gmail.com
Name: email, dtype: object

In [34]:
df = pd.read_csv('stack-overflow-developer-survey-2021/survey_results_public.csv')

In [35]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [40]:
df.loc[df['ConvertedCompYearly'] > 7000]

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0
11,12,I am a developer by profession,Employed full-time,Spain,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,None of the above,Too long,Easy,46482.0
12,13,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,15,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Appropriate in length,Easy,77290.0
16,17,I am a developer by profession,Employed full-time,Turkey,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,School,6,...,25-34 years old,Man,No,NaN,Middle Eastern,NaN,NaN,Appropriate in length,Neither easy nor difficult,17748.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83433,83434,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Brazil,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Online Forum;Online Courses or Certification;O...,15,...,25-34 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,I have an anxiety disorder,Appropriate in length,Easy,18326.0
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [41]:
df.shape

(83439, 48)

In [42]:
df['Country']

0                                                 Slovakia
1                                              Netherlands
2                                       Russian Federation
3                                                  Austria
4        United Kingdom of Great Britain and Northern I...
                               ...
83434                             United States of America
83435                                                Benin
83436                             United States of America
83437                                               Canada
83438                                               Brazil
Name: Country, Length: 83439, dtype: object

In [49]:
countries = ['Benin', 'Canada', 'Brazil', 'Nepal']

In [51]:
filt = df['Country'].isin(countries)
df.loc[filt]

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
17,18,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,9,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,46135.0
19,20,"I used to be a developer by profession, but no...",Employed full-time,Brazil,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,...,25-34 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Appropriate in length,Easy,NaN
45,46,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp,22,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Easy,60480.0
67,68,I am a developer by profession,Employed full-time,Canada,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Other (please specify):,25,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am blind / have difficulty seeing,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Easy,71850.0
77,78,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",5 - 10 years,Friend or family member,10,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,151263.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83432,83433,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,5,...,18-24 years old,Woman,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,80169.0
83433,83434,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Brazil,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Online Forum;Online Courses or Certification;O...,15,...,25-34 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,I have an anxiety disorder,Appropriate in length,Easy,18326.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0